<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Consulta producto</title>
    <meta charset="UTF-8">
    </meta>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="container">
        <header class="text-center">
                    <img id="logo-empresa" class="img-fluid" src="/images/logo_empresa.png" alt="" />
        </header>
        <h2 class="mb-3">
            Listado de productos
        </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto: ${productos}">

                    <td th:text="${producto.codProducto}" />
                    <td th:text="${producto.nombreProducto}" />
                    <td th:text="${producto.descripcionProducto}" />
                    <td th:text="${producto.precioProducto}" />
                    <td>
                        <a class="btn btn-success" th:href="@{/actualizar/producto/} + ${producto.codProducto}"
                            th:text="Editar" title="Editar producto" role="button"></a>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/eliminar/producto/} + ${producto.codProducto}"
                            th:text="Eliminar" title="Eliminar producto" role="button"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-left">
            <a class="btn btn-secondary" href="/" role="button">Regresar al menú</a>
        </div>
    </div>
</body>

</html>