<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Actualizar producto</title>
    <meta charset="UTF-8">
    </meta>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="container">
        <header class="text-center">
            <img id="logo-empresa" class="img-fluid" src="/images/logo_empresa.png" alt="" />
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="producto: ${productos}">
                    <h3 class="my-3 text-center">
                        <p> Actualizar producto:
                            <B th:text=${producto.codProducto}></B>
                        </p>
                    </h3>

                    <td th:text="${producto.nombreProducto}" />
                    <td th:text="${producto.descripcionProducto}" />
                    <td th:text="${producto.precioProducto}" />

                </tr>
            </tbody>
        </table>

        <form th:each="producto: ${productos}" th:action="@{/actualizar/producto/{codigoProducto}}" th:object="${producto}" method="post">
            <div class="form-row">
                <div class=" offset-3 col-6 p-1">
                    <input type="text" id="nombreproducto" class="form-control" placeholder="Nombre producto"
                        >
                        <!--th:value=${producto.nombreProducto}>-->
                </div>
                <div class="offset-3 col-6 p-1">
                    <input type="text" id="descripcionproducto" class="form-control"
                        placeholder="Descripción del producto"
                        >
                        <!--th:value=${producto.descripcionProducto}>-->
                </div>
                <div class="offset-3 col-6 p-1">
                    <input type="number" id="precioproducto" class="form-control" placeholder="Precio producto"
                        >
                        <!--th:value="${producto.precioProducto}">-->
                </div>
            </div>
            <div class="offset-4 col-4 my-2 text-center">
                <button type="submit" class="btn btn-secondary mx-3">Actualizar</button>
                <a class="btn btn-secondary" href="/productos/" role="button">Regresar</a>
            </div>
        </form>
    </div>
</body>

</html>