<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Consulta facturas</title>
    <meta charset="UTF-8">
    </meta>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="container">
        <header class="text-center">
                    <img id="logo-empresa" class="img-fluid" src="/images/logo_empresa.png" alt="" />
        </header>
        <h2 class="mb-3">
            Listado de facturas
        </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Número factura</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Código vendedor</th>
                    <th scope="col">Código producto</th>
                    <th scope="col">Precio producto</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="factura: ${facturas}">
                    <td th:text="${factura.numeroFactura}" />
                    <td th:text="${factura.fechaVenta}" />
                    <td th:text="${factura.vendedor.codVendedor}" />
                    <td th:text="${factura.producto.codProducto}" />
                    <td th:text="${factura.producto.precioProducto}" />
                    <td>
                        <a class="btn btn-success" th:href="@{/actualizar/factura/} + ${factura.idVenta}"
                            th:text="Editar" title="Editar factura" role="button"></a>
                    </td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/eliminar/factura/} + ${factura.idVenta}"
                            th:text="Eliminar" title="Eliminar factura" role="button"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-left">
            <a class="btn btn-warning" href="/" role="button">Regresar al menú</a>
        </div>
</body>

</html>