<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Actualizar vendedor</title>
  <meta charset="UTF-8">
  </meta>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{js/jquery-3.5.1.slim.min.js}"></script>
  <script th:src="@{js/bootstrap.bundle.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
  <div class="container">
        <header class="text-center">
                    <img id="logo-empresa" class="img-fluid" src="/images/logo_empresa.png" alt="" />
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
                  <tbody>
                <tr th:each="vendedor:${vendedores}">
    <h3 class="my-3 text-center">
        <p> Actualizar vendedor:
            <B th:text=${vendedor.codVendedor}></B>
        </p>
    </h3>
                    <td th:text="${vendedor.nombreVendedor}" />

 
                </tr>
            </tbody>
        </table>

    <form th:each="vendedor:${vendedores}" th:action="@{/actualizar/vendedor/{codigoVendedor}}" th:object="${vendedor}" method="post">
      <div class="form-row">
        <div class="offset-3 col-6 p-1">
          <input type="text" id="nombrevendedor" class="form-control" placeholder="Nombre vendedor"
                        >
                        <!--th:value="${vendedor.nombreVendedor}">-->
        </div>
      </div>
    </form>
        <div class="offset-4 col-4 my-2 text-center">
          <button type="submit" class="btn btn-secondary mx-3">Actualizar</button>
          <a class="btn btn-secondary" href="/vendedores/" role="button">Regresar</a>
        </div>
  </div>
</body>

</html>