<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Consulta facturas</title>
    <meta charset="UTF-8">
    </meta>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="offset-2 col-4">
                    <h1 class="text-center m-2">
                        The team 1 - Factory
                    </h1>
                </div>
                <div class="div-logo col-4 text-center">
                    <img id="logo-empresa" class="img-fluid" src="/images/logo_empresa.png" alt="" />
                </div>
            </div>
        </header>
        <h2 class="mb-3">
            Listado de facturas
        </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Número factura</th>
                    <th scope="col">Código producto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Código vendedor</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="factura: ${facturas}">
                    <td th:text="${factura.numeroFactura}" />
                    <td th:text="${factura.producto.codProducto}" />
                    <td th:text="${factura.fechaVenta}" />
                    <td th:text="${factura.vendedor.codVendedor}" />
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <a class="btn btn-warning" href="/" role="button">Regresar al menú</a>
        </div>
</body>

</html>