<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Eliminar factura</title>
    <meta charset="UTF-8">
    </meta>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="offset-2 col-4">
                    <h1 class="text-center m-2">
                        The team 1 - Factory
                    </h1>
                </div>
                <div class="div-logo col-4 text-center">
                    <img id="logo-empresa" class="img-fluid" src="/images/logo_empresa.png" alt="" />
                </div>
            </div>
        </header>
        <h2 class="my-3">
            <ul>
                <li>Eliminar factura </li>
            </ul>
        </h2>

<!--        <form th:action="@{/crear/factura}" th:object="${factura}" method="post">
            <div class="form-row">
                <div class="offset-3 col-6 p-1">
                    <input type="text" id="numerofactura" class="form-control" placeholder="Número de factura"
                        th:field="*{numeroFactura}">
                </div>
                <div class="offset-3 col-6 p-1">
                    <input type="text" id="codigoproducto" class="form-control" placeholder="Código del producto"
                        th:field="*{producto}">
                </div>
                <div class="offset-3 col-6 p-1">
                    <input type="text" id="fechaventa" class="form-control" placeholder="Fecha de la venta"
                        th:field="*{fechaVenta}">
                </div>
                <div class="offset-3 col-6 p-1">
                    <input type="text" id="codigovendedor" class="form-control" placeholder="Código del vendedor"
                        th:field="*{Vendedor}">
                </div>
                <div class="offset-3 col-6 p-1">
                    <input type="text" id="valorFactura" class="form-control" placeholder="Precio del producto"
                        th:field="*{valorFactura}">
                </div>
            </div>
        </form>-->
        <div class="offset-4 col-4 my-2 text-center">
            <button type="submit" class="btn btn-danger mx-3">Eliminar</button>
            <a class="btn btn-warning" href="/facturas/" role="button">Regresar</a>
        </div>
    </div>
</body>

</html>