<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Mi empresa</title>
    <meta charset="UTF-8">
    </meta>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="offset-2 col-4">
                    <h1 class="text-center m-2">
                        The team 1 - Factory
                    </h1>
                </div>
                <div class="div-logo col-4 text-center">
                    <img id="logo-empresa" class="img-fluid" src="/images/logo_empresa.png" alt="" />
                </div>
            </div>
        </header>

        <div class="row">
            <div class="col-sm">
                <div class="text-center">
                    <a href="/productos" class="text-center">
                        <img src="/images/productos.png" class="rounded mt-5 mb-3" alt="...">
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PRODUCTOS
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/productos">Consulta productos</a>
                            <a class="dropdown-item" href="/crear/producto">Crear producto</a>
                            <a class="dropdown-item" href="/actualizar/producto">Actualizar producto</a>
                            <a class="dropdown-item" href="/eliminar/producto">Eliminar producto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="text-center">
                    <div>
                        <a href="/vendedores" class="text-center">
                            <img src="/images/vendedores.png" class="rounded mt-5 mb-3" alt="...">
                        </a>
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                VENDEDORES
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/vendedores">Consulta vendedores</a>
                                <a class="dropdown-item" href="/crear/vendedor">Crear vendedor</a>
                                <a class="dropdown-item" href="/actualizar/vendedor">Actualizar vendedor</a>
                                <a class="dropdown-item" href="/eliminar/vendedor">Eliminar vendedor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="text-center">
                    <div>
                        <a href="/facturas">
                            <img src="/images/facturas.png" class="rounded mt-5 mb-3" alt="...">
                        </a>
                        <div class="dropdown">
                            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FACTURAS
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/facturas">Consulta facturas</a>
                                <a class="dropdown-item" href="/crear/factura">Crear factura</a>
                                <a class="dropdown-item" href="/actualizar/factura">Actualizar factura</a>
                                <a class="dropdown-item" href="/eliminar/factura">Eliminar factura</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>