<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Producto</title>
        <meta charset="UTF-8"> </meta>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row">
                    <div class="offset-2 col-4">
                         <h1 class="text-center m-2">
                            The team 1 - Factory
                        </h1>
                    </div>
                    <div class="div-logo col-4 text-center">   
                        <img id="logo-empresa" class="img-fluid" src="/images/logo_empresa.png" alt=""/>
                    </div>
                </div>
            </header>
            <h2 class="my-3">
                <ul><li> Agregar producto </li></ul>
            </h2>
            
            <form th:action = "@{/crear/producto}" th:object="${producto}" method="post">
                <div class="form-row">
                  <div class="offset-3 col-6 p-1">
                    <input type="text" id="codigoproducto" class="form-control" placeholder="Código producto" th:field="*{codProducto}">
                  </div>
                  <div class="offset-3 col-6 p-1">
                    <input type="text" id="nombreproducto" class="form-control" placeholder="Nombre producto" th:field="*{nombreProducto}">
                  </div>
                  <div class="offset-3 col-6 p-1">
                    <input type="text" id="descripcionproducto" class="form-control" placeholder="Descripción del producto" th:field="*{descripcionProducto}">
                  </div> 
                  <div class="offset-3 col-6 p-1">
                    <input type="text" id="precioproducto" class="form-control" placeholder="Precio producto" th:field="*{precioProducto}">
                  </div>
                </div>
                <div class="offset-4 col-4 my-2 text-center">
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>

            <h2 class="mb-3">
                <ul><li> Borrar producto </li></ul>
            </h2>
            <p><-- (No tocar) --></p>

            <form th:action = "@{/crear/producto}" th:object="${producto}" method="post">
                <div class="form-row">
                  <div class="offset-3 col-6 p-1">
                    <input type="text" id="codigoproducto" class="form-control" placeholder="Código producto" th:field="*{codProducto}">
                  </div>
                </div>
                <div class="offset-4 col-4 my-2 text-center">
                    <button type="submit" class="btn btn-primary">Borrar</button>
                </div>
            </form>
            
            
            <div class="text-right mt-3">
                <a href="/">Regresar al índice</a>
            </div>
        </div> 
    </body>
</html>